<div id="login-background">
    <div id ="login-card" class="card border">
  
      <span id="login-title mb-5">
        <h1>Fiscaliza Macaé</h1>
      </span>
  
      <form id="login-form" class="col-sm-7 mt-5">  
  
        <input class="form-control mt-5" placeholder="Login">
        <input class="form-control mt-4" placeholder="Senha" type="password">
  
        <div class="d-grid gap-2 mt-5">
          <button class="btn-sm btn-primary mt-5" routerLink="/home">LOGAR</button>
          <button class="btn-sm btn-success mt-2">CADASTRAR-SE</button>
        </div>
      </form>
  
    </div>
  </div>
