<style>

  #login-background{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    background-image: url("../assets/login-wallpaper.jpg");
    background-size: cover;
  }

  #login-card{
    height: 80vh;
    width: 45vw;
    background-color: #eee;
    margin: auto;
    align-items:center;
  }


</style>
<!--****************************************************************************-->
<div id="login-background">
  <div id ="login-card" class="card border">

    <span id="login-title mb-5">
      <h1>Star Enterprise</h1>
    </span>

    <form id="login-form" class="col-sm-7 mt-5">  

      <input class="form-control mt-5" placeholder="Login">
      <input class="form-control mt-4" placeholder="Senha" type="password">

      <div class="d-grid gap-2 mt-5">
        <button class="btn-sm btn-primary mt-5">LOGAR</button>
        <button class="btn-sm btn-success mt-2">CADASTRAR-SE</button>
      </div>
    </form>

  </div>
</div>